*{
    margin: 0;
}


body{
    width: 100%;
}

table{
    background-color: rgb(12, 243, 81);
    border-collapse: collapse;
}

.table-container{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


td, th {
    border: 1px solid #ff014d;
    text-align: left;
    padding: 8px;
}


.head1{
    text-align: center;
    padding: 20px;
} 

input[type=text],input[type=number] {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



/* form */


.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#form{
    padding: 30px;
    border: #0000ee 2px solid;
    background-color: #f7b500;
    width:30%;
}


#submitBtn{
    background-color: rgb(24, 182, 194);
    align-items: center;
    padding: 15px;
    cursor: pointer;
    

}

/* login */


/* body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: url(https://media.istockphoto.com/photos/business-team-background-picture-id1090245970?k=20&m=1090245970&s=612x612&w=0&h=-v4loMmP1cuyNMaWybHr4CeqFWPQi0Rfp1aDdhBJliA=);
    background-size: cover;

  } */
  
  
  /* .box{ */
    /* width: 60vw; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* padding:30 px;
    background:#00df70 ;
    text-align:center;
  }
   */
  /* .box h1{
    color:white;
    font-weight: 700px ;
} */

/* 
.box input[type="text"],.box input[type="password"]
{
    color:white;
    border:2px solid rgb(0, 0, 0);
    background: none;
    display: block;
    margin:20px auto;
    text-align:center;
    border-radius:24px;
    
  }
 */



